@import "bootstrap/scss/bootstrap";
@import "leaflet/dist/leaflet.css";

.map {
    height: 85vh;
}

.strikethrough {
    text-decoration: line-through;
}

.tab-content {
    margin-top: $spacer;
}

.toast-header > .btn-close {
    margin-left: auto;
}

@include media-breakpoint-up(lg) {
    .map {
        height: 98vh;
    }

    .tabs {
        display: flex;
        flex-direction: column;
        height: 98vh;
    }

    .nav-tabs {
        flex: 0 1 auto;
    }

    .tab-content {
        flex: 1 1 auto;
        overflow: auto;
    }
}
