$bootstrap-icons-font-dir: "bootstrap-icons/font/fonts";

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";
@import "leaflet/dist/leaflet.css";

$tabs-min-width: 27.5rem;

.app-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: map-get($spacers, 1) $grid-gutter-width;
    padding: 0 calc(#{$grid-gutter-width} / 2);
    margin: 1vh 0;
    min-width: $tabs-min-width;
}

.map {
    height: 80vh;
}

.tabs {
    min-width: 0;
    overflow-x: auto;
}

.strikethrough {
    text-decoration: line-through;
}

.tab-content {
    margin-top: $spacer;
}

.toast-header > .btn-close {
    margin-left: auto;
}

.toast-body {
    white-space: pre-line;
}

.make-marker-green {
    // Default blue is around 207°. Green is 152°.
    filter: hue-rotate(-55deg);
}

.make-marker-red {
    // Default blue is around 207°. Red is 354°.
    filter: hue-rotate(147deg);
}

@include media-breakpoint-up(lg) {
    .app-container {
        grid-template-columns: minmax(0, 2fr) minmax($tabs-min-width, 1fr);
    }

    .map {
        height: 98vh;
    }

    .tabs {
        display: flex;
        flex-direction: column;
        height: 98vh;
    }

    .nav-tabs {
        flex: 0 1 auto;
    }

    .tab-content {
        flex: 1 1 auto;
        overflow: auto;
    }
}
